before_install:
  - sudo apt-get update
  - sudo apt-get install texlive-latex-extra
  - sudo apt-get install sshpass
script:
  - mkdir _build
  - cd assignment5
  - pdflatex -output-directory=../_build a5.tex
  - cd ..
after_success:
  - export SSHPASS=$PITT_PW
  - sshpass -e scp _build/a5.pdf "$PITT_USER@unixs.cis.pitt.edu:public/html"
