before_install:
  - sudo apt-get update
  - sudo apt-get install texlive-latex-extra
  - sudo apt-get install sshpass
script:
  - mkdir _build
  - pdflatex -include-directory=assignment5 -output-directory=_build a5.tex
after_success:
  - curl --ftp-create-dirs -T _build/a5.pdf -u $PITT_USER:$PITT_PW sftp://unixs.cis.pitt.edu/$PITT_PATH
